@font-face{
    font-family: F77 Minecraft Regular;
    src:url(fonts/font.ttf);    
}

.container {
    margin: 0 auto;
    width: 1000px;
    overflow: auto;
}

body{
    background-image: url(images/dirt.png);
    color: #FFF;
    font-family: F77 Minecraft Regular;
}

/* Botton */

.button {
    background-image: url(images/button.png);    
}

.button:hover{
    background-image: url(images/button_hover.png);
}

/* Links */

a:hover{
    color: yellow;
}

a {
    color:white;
}