@font-face{
    font-family: F77 Minecraft Regular;
    src:url(fonts/font.ttf);    
}

.container {
    margin: 0 auto;
    width: 1000px;
    overflow: auto;
}

body{
    background-image: url(images/stone.png);
    color: #FFF;
    font-family: F77 Minecraft Regular;
}

/* Links */

a:hover{
    color: yellow;
}

a {
    color:white;
    text-decoration: none;
    font-style: normal;
    float: right;
    margin-top: 10px;
    padding-right: 10px;
    font-size: 20px;
}

/* Text */

.txt {
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.br {
    border: 1px solid white;
    padding: 0px;
    margin: 2px;
}

.label {
    font-size: 32px;
    padding: 5px;
    margin-bottom: 20px;
}

h2 {
    margin: 10px;
}

/* image */

.img {
    margin-top: 10px;
    text-align: center;
}